.dashboard{
    width: 100vw;
    .das-col-sm{
        &:last-child{
          margin-bottom: 38px;
        }
    }

    .content-img{
        width: 100%;
    }
}

.image-header{
    position: absolute;
    right: 18px;
    top: 10px;
    cursor: pointer;
}

.category{
    background: red;
    color: #fff;
    display: inline;
    background-color: #c00;
    color: #fff;
    list-style: none;
    text-transform: capitalize;
    margin: 0 0 0 2px;
    font-size: 12px;
    padding: 3px 5px;
    letter-spacing: 1px;
}

.img-section{
    position: relative;
    cursor: pointer;
}

.das-col-sm{
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.image-footer{
    // position: absolute;
    // bottom: 12px;
}

.quiz-time{
    display: flex;
    justify-content: space-between;
    padding: 0px 12px;
}

.Home_nowPlaying__2zAVk {
    color: #ff0;
    -webkit-backdrop-filter: brightness(.5);
    backdrop-filter: brightness(.5);
    text-transform: capitalize;
    position: absolute;
    bottom: 12px;
}

.Home_quizDuration__3tH8c{
    -webkit-backdrop-filter: brightness(.5);
    backdrop-filter: brightness(.5);
    font-size: 12px;
    color: #fff;
    padding: 3px 5px;
    letter-spacing: 1px;
    text-align: right;
    position: absolute;
    right: 18px;
    bottom: 10px;
}